<div class="flex flex-col gap-6">
    <app-title class="p-4" main="FocusList" sub="Produtividade pessoal"></app-title>

    <nav>
        <ul>
            <div class="flex items-center rounded-lg gap-3 px-4 cursor-pointer">
                <span class="material-symbols-outlined" data-icon="today">today</span>
                <app-menu-link label="Hoje" route="/"></app-menu-link>
            </div>

            <div class="flex items-center rounded-lg gap-3 px-4 cursor-pointer">
                <span class="material-symbols-outlined" data-icon="account_circle">account_circle</span>
                <app-menu-link label="Meu-perfil" route="/my-profile"></app-menu-link>
            </div>
        </ul>
    </nav>
</div>