<div class="flex flex-col gap-20 w-220 m-5 pb-10">
    <app-title main="Foco de Hoje" sub="Mantenha a disciplina. Matenha a calma. Seja produtivo." size="text-5xl"
        font="font-bold"></app-title>

    <!--Box para adicionar tarefas-->
    <div class="flex items-center p-3 bg-white rounded-lg h-19 shadow-sm">
        <span class="text-zinc-400 material-symbols-outlined">add</span>
        <input #inputTask maxlength="70" (input)="0" type="text" (keyup.enter)="postTask($event, inputTask)"
            placeholder="Adicionar nova tarefa..." class="text-zinc-400 ml-6 w-full h-full outline-none">

        <p class="p-5 text-zinc-700">{{ inputTask.value.length }}/70</p>

        <button type="button"
            class="bg-black rounded-lg cursor-pointer hover:bg-zinc-700 transition-all text-white p-1 px-4"
            
            (click)="postTask($event, inputTask)">

            @if (isLoadingTask()) {
                <div class="flex items-center gap-2">
                    <mat-spinner diameter="18" strokeWidth="3">
                    </mat-spinner>
                    <span>Loading</span>
                </div>
            } @else {
                Adicionar
            }
        </button>
    </div>

    <!--Box que lista as tarefas-->
    <div>
        <!--AVISO DE LISTA VAZIA-->
        @if (tasks().length === 0) {
            <div class="flex justify-center mt-14">
                <h1 class="text-zinc-400">Nenhuma tarefa criada, adicione suas tarefas e organize sua rotina.</h1>
            </div>
        }

        @for (task of tasks(); track task.id) {
            <div class="flex items-center gap-4 mt-1 mb-4 p-4 bg-white rounded-lg border border-zinc-200 h-15">
                <label class="relative flex items-center justify-center cursor-pointer">
                    <input type="checkbox" class="peer sr-only" [checked]="task.completed" (change)="taskCompleted(task)" />
                    <div
                        class="w-6 h-6 border-2 border-slate-900 rounded-md peer-checked:bg-blue-600 peer-checked:border-blue-600 transition-all">
                    </div>
                    <svg class="absolute w-4 h-4 text-white opacity-0 peer-checked:opacity-100 pointer-events-none transition-opacity"
                        fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7"></path>
                    </svg>
                </label>

                <span [class.line-through]="task.completed" [class.text-zinc-500]="task.completed">
                    {{ task.title }}
                </span>

                <button class="ml-auto flex items-center text-zinc-400 hover:text-red-500 transition-colors cursor-pointer"
                    (click)="deleteTask(task.id)">
                    @if (!task.completed) {
                        <span class="material-symbols-outlined">delete</span>
                    }
                </button>
            </div>
        }
    </div>

    <!--Footer-->
    <app-footer></app-footer>
</div>